---
layout: default
---

<div class="container">
    <section class="mb-4 text-center">
        <h1>{{ page.title }}</h1>
        <p class="text-muted">{{ page.description }}</p>
    </section>
</div>

<div class="card shadow-sm">
    <div class="card-body">
        {% assign tool_interface = "tools_v3/" |  append: page.slug |  append: '.html'  %}
        {% assign tool_function = "/js/tools/" |  append: page.slug |  append: '.js'  %}
        {% include {{ tool_interface }} %}
        <script defer src="{{ tool_function }}" ></script>
    </div>
</div>

<hr>

<div class="container">
    <p><a class="link-primary" href="/">其他好用的小工具</a></p>
    <p><a class="link-primary" href="https://forms.gle/qJrDVAUvgbVivikh6">意見回饋</a></p>
<div>

<hr>

<div class="card">
    <div class="card-header">
        <p class="card-title">贊助商連結</p>
    </div>
    <div class="card-body">
        <ins class="adsbygoogle"
         style="display:block; overflow:auto;"
         data-ad-client="ca-pub-7255560333193386"
         data-ad-slot="7882224363"
         data-ad-format="auto"
         data-full-width-responsive="false"></ins>
    <script>
         (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    </div>
</div>

<hr>

<div class="container">
    {{ content }}
</div>
