---
layout: default
---

<div class="container text-center my-3">
    <h1>{{ page.title }}</h1>
</div>

<!-- tool component -->
<div class="card shadow-sm">
    <div class="card-body">
        {% assign tool_interface = "tools_v3/" |  append: page.slug |  append: '.html'  %}
        {% assign tool_function = "/js/tools/" |  append: page.slug |  append: '.js'  %}
        {% include {{ tool_interface }} %}
        <script defer src="{{ tool_function }}" ></script>
    </div>
</div>

<!-- ads -->
<div class="card my-4">
    <div class="card-header">
        <p class="card-title">贊助商連結</p>
    </div>
    <div class="card-body">
        <ins class="adsbygoogle"
         style="display:block; overflow:auto;"
         data-ad-client="ca-pub-7255560333193386"
         data-ad-slot="7882224363"
         data-ad-format="auto"
         data-full-width-responsive="false"></ins>
    <script>
         (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    </div>
</div>

<!-- function buttons -->
<div class="card p-2">
    <div class="row my-2">
        <div class="d-grid col-6 mb-3">
            <a class="btn btn-outline-info shadow-sm" href="/">其他好用的小工具</a>
        </div>
        <div class="d-grid col-6 mb-3">
            <a class="btn btn-outline-info shadow-sm" href="https://forms.gle/qJrDVAUvgbVivikh6">意見回饋</a>
        </div>
        <div class="col-12 input-group">
            <button class="btn btn-outline-info shadow-sm" type="button" id="share-tool-button">分享這個工具</button>
            <input type="text" class="form-control" id="share-tool-link" value="{{site.url}}{{page.url}}"  readonly>
        </div>
    </div>
</div>
<script>
    document.getElementById("share-tool-button").addEventListener("click", function(){
        try{
            navigator.clipboard.writeText(document.getElementById("share-tool-link").value)
            document.getElementById("share-tool-button").innerText = "已複製連結！"
        }
        catch{
            document.getElementById("share-tool-button").innerText = "出了小問題！請手動複製連結"
        }
    })
</script>
<hr>

<div class="container my-3">
    <p class="text-muted">{{ page.description }}</p>
</div>

<div class="container">
    {{ content }}
</div>
